beautifulsoup4==4.7.1
bottle==0.12.16
certifi==2019.3.9
chardet==3.0.4
idna==2.8
osmapi==1.2.2
Paste==3.0.8
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.9.1
urllib3==1.24.3
virtualenv==15.1.0
wikipedia==1.4.0
yandex-geocoder==1.0.0
